{% extends "base2.html" %}
{% block content %}
 <h1 class="d-flex justify-content-center pt-3">Book Page</h1>
{% if item %}
 
 <!-- <h3>{{item}}</h3> -->
 <table class="d-flex justify-content-center table table-hover table-striped" >
     <tr>
         <th>title</th>
         <th>ISBN</th>
         <th>price</th>
         <th>author</th>
         <th>summary</th>
         <th>category</th>
         <th> Borrow</th>
         <th> Add to Cart</th>
         <th> Go to Cart</th>
     </tr>
 <tr>
     {% for st in item %}
     <td>{{st.title}}</td>
     <td>{{st.ISBN}}</td>
     <td>{{st.price}}</td>
     <td>{{st.author}}</td>
     <td>{{st.summary}}</td>
     <td>{{st.category}}</td>
    <td>
    {%if st.isBorrowed is False%}
        <form method="get" action="{%url 'Book_Borrow' st.id%}">
        <button type="submit" class="btn btn-outline-primary">Borrow</button>
        </form>
    {%else%}
        <p>Book Already Borrowed</p>
    {%endif%}
    <td>
        <form method="get" action="{% url 'cart:add_to_cart' st.id %}">
        <button type="submit" class="btn btn-outline-success"> <i class="fas fa-cart-plus"></i></button>

        </form>
    <td>
        
        <form method="get" action="{% url 'cart:order_summary' %}">
        <button type="submit" class="btn btn-outline-warning"> <i class="fas fa-shopping-cart"></i></button>

        </form>
   </td>

     
 </tr>
     {% endfor %}
</table>

{% else %}
 <h1>No Data</h1>
{% endif %}

</form>
{% endblock %}