{% extends 'base3.html' %}
{% block content %}


 <h1 class="d-flex justify-content-center pt-3">Book Page</h1>
{% if item %}

 <!-- <h3>{{item}}</h3> -->
 <table class="d-flex justify-content-center table table-hover table-striped">
     <tr>
         <th>title</th>
         <th>ISBN</th>
         <th>price</th>
         <th>author</th>
         <th>summary</th>
         <th>category</th>
         <th>Owner</th>
         <th>Status</th>
         <th> Delete</th>
	     <th> Update</th>
     </tr>
 <tr>
     {% for st in item %}
     <td>{{st.title}}</td>
     <td>{{st.ISBN}}</td>
     <td>{{st.price}}</td>
     <td>{{st.author}}</td>
     <td>{{st.summary}}</td>
     <td>{{st.category}}</td>
     <td>{{st.owner}}</td>
     {% if st.isBorrowed%}
     <td>Borrowed</td>
     {%else%}
     <td>Not Borrowed</td>
     {%endif%}
     <td>
        <form method="get" action="{%url 'Book_Delete' st.id%}">
        <button type="submit" class="btn btn-outline-danger">Delete</button>
        </form>
    </td>
    <td>
        <form method="get" action="{%url 'update_Book' st.id%}">
        <button type="submit" class="btn btn-outline-warning">Update</button>
        </form>
    </td>

     
 </tr>
     {% endfor %}
</table>
{% else %}
 <h1>No Data</h1>
{% endif %}
<form method="get" action="{%url 'Librarian_index'%}">
    <button type="submit" class="btn btn-outline-primary">Back To Main</button>
</form>
{% endblock %}