{% extends 'base2.html' %}
{% block content%}

 <h1 class="d-flex justify-content-center pt-5">Carrels' Availibity</h1>
{% if obj %}
 
 <!-- <h3>{{item}}</h3> -->
 <table class="d-flex justify-content-center table table-hover table-striped pt-3">
     <tr>
         <th>Time Slot</th>
         <th>Reserved</th>
     </tr>
 <tr>
     {% for st in obj %}
     <td>{{st.timeslot}}</td>
    <td>
    {%if st.isReserved is False%}
        <form method="get" action="{%url 'Reserve' st.id%}">
        <button type="submit" class="btn btn-outline-success">Reserve</button>
        </form>
    {%else%}
        <p>Seat Already Reserved</p>
    {%endif%}
     
 </tr>
     {% endfor %}
</table>
{% else %}
 <h1>No Data</h1>
{% endif %}

{% endblock %}