{% extends 'base3.html' %}
{% block content %}
<h1 class="d-flex justify-content-center pt-3">Carrel Page</h1>
{% if obj %}

 <!-- <h3>{{item}}</h3> -->
 <table class="d-flex justify-content-center table table-hover table-striped" >
     <tr>
         <th>Time Slot</th>
         <th>Reserved</th>
         <th></th>
     </tr>
 <tr>
     {% for st in obj %}
     <td>{{st.timeslot}}</td>
    <td>
    {%if st.isReserved is False%}
        <p>Not Reserved</p>
    {%else%}
        <p>Seat Already Reserved</p>
    {%endif%}
    <td>
        <form method="get" action="{%url 'Carrel_Delete' st.id%}">
        <button type="submit" class="btn btn-outline-danger">Delete</button>
        </form>
    </td>
     
 </tr>
     {% endfor %}
</table>
{% else %}
 <h1>No Data</h1>
{% endif %}
<form method="get" action="{%url 'Librarian_index'%}">
    <button type="submit" class="btn btn-outline-primary">Back To Main</button>
</form>
{% endblock %}