{% extends "base2.html"%}
{% block content %}
<div class="container ">
	<h2 class="d-flex justify-content-center">Our Clients are ready to answer any inquiry! </h2>
	<h5 class="d-flex justify-content-center">Contact us today, and get reply with in 24 hours!</h5>
	<div class="row"> 
		<div class="col-9">
			
 
  <form id="contact" action="" method="post">
  	{% csrf_token %}
    {{ form }}
      <button name="submit" type="submit" value="Submit" id="contact-submit" data-submit="...Sending">Submit</button>
    
  </form>
		</div>
		<div class="col-3 pt-5">
			<h3>Contact Info:</h3>
<h5>Address:</h5>
<h6>Lebanon, Beirut, Bliss Street, AUB.</h6>

<h5>Phone:</h5>
<h6>+961 81 965 442</h6>

<h5>Email: </h5>
<h6>ourproject@ask.com</h6>
		</div>
	</div>
</div>
  
 

{% endblock%}