{% extends 'base3.html' %}
{% block content %}

 <h1 class="d-flex justify-content-center pt-3">List of Inquiries</h1>
{% if ques %}
 
 <!-- <h3>{{item}}</h3> -->
 <table class="d-flex justify-content-center table table-hover table-striped">
     <tr>
         <th>Username</th>
         <th>Email</th>
         <th>Subject</th>
         <th>Status</th>
         <th>Delete</th>
     </tr>
 <tr>
     {% for st in ques %}
     <td>{{st.username}}</td>
     <td>{{st.email}}</td>
     <td>{{st.subject}}</td>
    <td>
    {%if st.isAnswered is False%}
        <form method="get" action="{%url 'Answer_Inquiry' st.id%}">
        <button type="submit" class="btn btn-outline-warning">Answer Inquiry</button>
        </form>
    {%else%}
        <p>Inquiry Already Answered!</p>
    {%endif%}
    <td>
        <form method="get" action="{%url 'Inquiry_Delete' st.id%}">
        <button type="submit" class="btn btn-outline-danger">Delete</button>
        </form>
    </td>
     
 </tr>
     {% endfor %}
</table>
{% else %}
 <h1>No Data</h1>
{% endif %}
<form method="get" action="{%url 'Librarian_index'%}">
    <button type="submit" class="btn btn-outline-primary">Back To Main</button>
</form>
{% endblock %}