{% extends 'base3.html' %}
{% block content %}

<div class="container pt-5"> 
<div class="row">
	<div class="col-4 card " style="height: 150px"><h2 class="d-flex justify-content-center pt-5"><a href="{%url 'Book_List_Librarian'%}">View Books List</a></h2></div>
	<div class="col-4 card " style="height: 150px"><h2 class="d-flex justify-content-center pt-5"><a href="{%url 'add_book'%}">Add Book</a></h2></div>
	<div class="col-4 card " style="height: 150px"><h2 class="d-flex justify-content-center pt-5"><a href="{%url 'add_category'%}">Add Category</a></h2></div>
	
</div>
<div class="row">
	<div class="col-4 card " style="height: 150px"><h2 class="d-flex justify-content-center pt-5"><a href="{%url 'add_carrel'%}">Add Carrel</a></h2></div>
	<div class="col-4 card " style="height: 150px"><h2 class="d-flex justify-content-center pt-5"><a href="{%url 'Carrel_List_Lib'%}">View/Delete Carrel</a></h2></div>
	<div class="col-4 card " style="height: 150px"><h2 class="d-flex justify-content-center pt-5"><a href="{%url 'inquiries'%}">View/Answer Inquiries</a></h2></div>
	
</div>

</div>








{% endblock %}