{% extends 'base2.html' %}
{% block content%}

    <h2 class="d-flex justify-content-center pt-5 ">Results for Searched Books: </h2>

{% if searched_books %}
     <table class="d-flex justify-content-center table table-hover table-striped">
     <tr>
         <th>title</th>
         <th>ISBN</th>
         <th>price</th>
         <th>author</th>
         <th>summary</th>
         <th>category</th>
     </tr>
     
       {% for book in searched_books %}
       <tr>
        <td>{{book.title}}</td>
        <td>{{book.ISBN}}</td>
        <td>{{book.price}}</td>
        <td>{{book.author}}</td>
        <td>{{book.summary}}</td>
        <td>{{book.category}}</td>
        </tr>
      {% endfor %}
      
      </table>
      {% else %}
          <h3>Book Not Available! Check Back Later</h3>
      {% endif %}


{% endblock %}