 
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>Home</title>

</head>
<body>
<h2> Welcome To Your Library!</h2>
<form method = 'POST' action = "{%url 'User_search'%}">
         {% csrf_token %}
          <input type="text" name="name_of_book" placeholder="Enter name of book" maxlength="100" required id="id_name_of_book">
          <button type="submit">Search</button>
</form>
{% comment %} <p><a href= "{%url 'User_search'%}">Search for a Book</a></p> {% endcomment %}
<p><a href="{%url 'Book_List_User'%}">View Books List</a></p>
<p><a href="{%url 'contact'%}">Contact Us</a></p>


</body>
</html>