
{% extends "base.html" %}
{% include 'messages.html' %}

{% block content %}
<section>
  <h3 class="d-flex justify-content-center pt-5" >Checkout</h3>
      <div class="col-12 col-xs-12 ">
        <table class="table table-hover table-striped text-center">
                     
          
              {% for item in order.get_cart_items %}
                <tr>
                  <td>{{ item }}</td>
                  <td>LBP {{ item.book.price }}</td>
                </tr>
              {% endfor %}
            </td>
          </tr>
          <tr>
            <td><strong>Order Total</strong> </td>
            <td> <strong>LBP {{ order.get_cart_total }}</strong></td>
          </tr>
        </table>
        <button onclick="toggleDisplay();" class="btn btn-danger" style="width: 100%;">Pay Cash Upon Delivery</button>
      </div>
   
    
    


  

</section>

{% endblock %}
<!-- script for the stripe form -->
