<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">The vivliothíki</a>
  <ul class="navbar-nav mr-auto"></ul>
    <form method = 'POST' action = "{%url 'Librarian_search'%}" class="form-inline my-2 my-lg-0">
    	{% csrf_token %}
      <input class="form-control mr-sm-2" type="text" name="name_of_book" placeholder="Enter name of book" aria-label="Search" >
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <form method = 'POST' action=" {%url 'Librarian_login'%}" class="form-inline my-2 my-lg-0">
      {%csrf_token%}
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Log Out</button>
    </form>
     
  </div>
</nav>